In [3]:
#1. Write a Python function to multiply all the numbers in a list.
def mul(lst):
    result=1
    for i in lst:
        result = result*i
    return result

res = mul([5,2,4,6])
print(res)

240

In [11]:
#2. Write a Python function to reverse a string
#i) use for loop
#ii) use while loop
str = 'ABCDEF'
out=[]
for i in range (len(str)):
    out.append(str[len(str)-(i+1)])
out=''.join(out)
print (out)

str = 'ABCDEF'
out=[]
i=0
while (i <len(str)):
    out.append(str[len(str)-(i+1)])
    i+=1
out=''.join(out)
print (out)

FEDCBA
FEDCBA

In [13]:
#3. Write a function to add and subtract two variables
def arithmetic_op(a,b):
    add=a+b
    sub= a-b
    return add, sub

add, sub=arithmetic_op(4,2)
print('addition of 2 nums ', add)
print('Subtraction of 2nd num from 1st number ', sub)

addition of 2 nums  6
Subtraction of 2nd num from 1st number  2

In [16]:
#4. Write a function to check the number is divisible by 12
def check(num):
    if num%12 ==0:
        return True
    else:
        return False
check(360)

True

In [17]:
#5. Write a function to calculate the number of days and weeks

#considering number of days is given and it should be represented as weeks and days
def func(inp_days):
    weeks = inp_days//7
    days = inp_days%7
    return weeks, days
wk, dy = func(366)
print (wk, 'no of weeks and ', dy ,'no of days')

52 no of weeks and  2 no of days

In [19]:
#6.Write a Python function to Find the 5!?
def fact(num):
    if num <=1:
        return 1
    else:
        return num*fact(num-1)
fact(6)

720

In [20]:
#7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

def unique_ele(lst):
    set1 = set(lst)
    return set1
lst = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]
unique_ele(lst)

{1, 2, 3, 4, 5, 6, 7, 34, 654}

In [30]:
'''1. Required arguments:
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly
'''
def SI(P,n,i):
    return P*n*(i/100)

print('{:.2f}'.format(SI(1000,12, 7.1)))

851.9999999999999

In [21]:
'''2.Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments.
Output will be "printing the message with 'name' and  'message'"
'''
def func(name, msg):
    print(msg, name)
func(msg='Hello', name='Guvi')

Hello Guvi

In [33]:
'''3.Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. 
Output will be "My name is 'name' and 'age is 27'"
'''
def msg(name, age=27):
    print('My name is ', name, 'and age is ', age)
msg('Guvi')

My name is  Guvi and age is  27

## LAMBDA FUNCTION

In [37]:
'''1. Get a number from user,  find if it is even or odd number?'''
inp = int(input())
func= lambda inp:'Even' if inp%2==0 else 'odd'
func(inp)

5

'odd'

In [39]:
'''2. Take a input from user and  square it'''
inp = int(input())
func= lambda inp:inp**2
func(inp)

7

49

In [42]:
'''3. Write a lambda function using logical operators?

Hint:
Check x < 10
Output: False / True
'''
inp = int(input())
func= lambda inp:inp<10
func(inp)

50

False

In [44]:
'''4. Take an integer input from the user,  add 5 to the number and print it back?'''
inp = int(input())
func= lambda inp:inp+5
func(inp)

6

11

## MAP

In [1]:
'''1. Add two lists using map ()
    lis1 = [12, 24, 36]
    lis2 = [41, 54, 69]
   
    Output:
    [53, 78, 105]
'''
lis1 = [12, 24, 36]
lis2 = [41, 54, 69]
out = list(map(lambda a,b:a+b, lis1, lis2))
print(out)

[53, 78, 105]

In [2]:
'''2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]'''
lst = [1, 2, 3, 4, 5, 6, 7]
out = list(map(lambda i:i**2, lst))
out

[1, 4, 9, 16, 25, 36, 49]

In [3]:
'''3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function'''
lst = [1, 2, 3, 4, 5, 6, 7]
out = list(map(lambda i:'Even' if i%2==0 else 'Odd', lst))
out

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [5]:
'''
4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list
'''
lst= [11, 12, 13, 14, 435, 6, 27]
out = list(map(lambda x:x//7, lst))
print(out)

[1, 1, 1, 2, 62, 0, 3]

## FILTER

In [6]:
'''1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] 
filter the numbers in list which are not divisible by 2'''
lst = [3,12, 24, 36,43,654,65432,2,654,455,43,543] 
out = list(filter(lambda x:x%2!=0, lst))
print (out)

[3, 43, 455, 43, 543]

In [7]:
'''
2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).
'''
lst = [1, 2, 3, 4, 5, 6] 
out = list(filter(lambda x:x%2==0, lst))
print (out)

[2, 4, 6]

In [8]:
'''
3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.
'''
def filter_fun(lst):
    out =[]
    for i in lst:
        if i%2==0:
            out.append(i)
    return out
        

lst =  [2,3,5,3,6,3,7,4,6,7]
out =filter_fun(lst)
print (out)

[2, 6, 4, 6]

In [9]:
'''
4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

'''
def odd_func(lst):
    out =[]
    for i in lst:
        if i%2!=0:
            out.append(i)
    return out    

lst= [1, 12, 31, 4, 15, 6, 7] 
out = odd_func(lst)
print(out)

[1, 31, 15, 7]

## REDUCE

In [10]:
'''1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)'''
import functools as ft
lst= [1, 2, 3, 4]
out = ft.reduce(lambda x,y:x*y, lst)
print(out)

24

In [11]:
'''
2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)
'''
import functools as ft
lst= [ 11 , 13, 15, 16, 2,43 ]
out = ft.reduce(lambda x,y:x+y, lst)
print(out)

100

In [13]:
'''
3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)
'''
import functools as ft
lst= [543,7,6,4567,7,78,6,6,78,765,678]
out = ft.reduce(lambda x,y:x if x>y else y, lst)
print(out)

4567

In [14]:
'''
4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)
'''
import functools as ft
lst= [543,7,6,4567,7,78,6,6,78,765,678]
out = ft.reduce(lambda x,y:x if x<y else y, lst)
print(out)

6