# Python List:
1. Create your own lists otherwise use the List1 = ['hello','GUVI','GEEK']  to perform the below Python list  Operations?
   A. Repetition (*)
   B. Concatenation (+)
   C. Membership
   D. Length
   E. Iteration

In [2]:
#A. Repetition
List1 = ['hello','GUVI','GEEK']
print (List1*2)

['hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK']

In [3]:
#B. Concatenation
List1 = ['hello','GUVI','GEEK']
List2 = ['Oct', '2023']
print(List1 + List2)

['hello', 'GUVI', 'GEEK', 'Oct', '2023']

In [4]:
#C. Membership
List1 = ['hello','GUVI','GEEK']
if 'GUVI' in List1:
  print('GUVI is there in the list')
else:
  print('GUVI not found')

GUVI is there in the list

In [5]:
#D. Length
List1 = ['hello','GUVI','GEEK']
print (len(List1))

3

In [6]:
#E. Iteration
List1 = ['hello','GUVI','GEEK']
for val in List1:
  print(val)

hello
GUVI
GEEK

2.1. Create your own lists to perform the below Python List Built-in functions?
otherwise use the
                   List1 = [15, 300, 2700, 821]
                   List2 = [12, 2]
                   List3 = [34, 567, 78]
   A.  max(list)    
   B.  min(list)    
   C.  list(seq)

In [11]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
print('Max of list1, list2, list3 - {}, {}, {}'.format( max(List1), max(List2), max(List3)))
print('Min of list1, list2, list3 -{}, {}, {}'.format( min(List1), min(List2), min(List3)))
seq = '123'
print(list(seq))

Max of list1, list2, list3 - 2700, 12, 567
Min of list1, list2, list3 -15, 2, 34
['1', '2', '3']

3. Create your own lists to perform the below Python List built-in methods
   A.  list.append()
   B.  list.clear()   
   C.  List.copy()          
   D.  list.count()         
   E.  list.extend()    
   F.  list.index()
   G.  list.insert()  
   H.  list.pop()
   I.  list.remove()    
   J.  list.reverse()         
   K.  list.sort()

In [29]:
l1 = [2,3,1,5,7,3,2]
l2 = [1,6,3]
l3 = [1,6,3]
l1.append(10)
print('After appending 10 to l1 -', l1)
l2.clear()
print('After clearing l2 - ',l2)
l2 = l1.copy()
print('After copying l1 to l2, l2 becomes', l2)
print('No of times 3 in l2 is', l2.count(3))
l2.extend(l3)
print('After extending l2 with l3, l2 becomes', l2)
print('index of 1 in l1', l1.index(1))
l1.pop(7)
print('after popping the 7th index from l1, l1 is', l1)
l1.insert(5, 11)
print('l1 after inserting 11 in 5th index', l1)
l1.remove(2)
print('After removing the first occuerence of 2, l1 becomes', l1)
l1.reverse()
print('after reversing l1', l1)
l1.sort()
print('After sorting l1 becomes', l1)

After appending 10 to l1 - [2, 3, 1, 5, 7, 3, 2, 10]
After clearing l2 -  []
After copying l1 to l2, l2 becomes [2, 3, 1, 5, 7, 3, 2, 10]
No of times 3 in l2 is 2
After extending l2 with l3, l2 becomes [2, 3, 1, 5, 7, 3, 2, 10, 1, 6, 3]
index of 1 in l1 2
after popping the 7th index from l1, l1 is [2, 3, 1, 5, 7, 3, 2]
l1 after inserting 11 in 5th index [2, 3, 1, 5, 7, 11, 3, 2]
After removing the first occuerence of 2, l1 becomes [3, 1, 5, 7, 11, 3, 2]
after reversing l1 [2, 3, 11, 7, 5, 1, 3]
After sorting l1 becomes [1, 2, 3, 3, 5, 7, 11]

# Python Tuple
Create your own Tuple to perform the below Python tuple Operations ?
otherwise use the below
               Tuple1 = ('a','b','c','d')
               Tuple2 = ('e','f','g','h')
1. Tuple Operations


   A. Repetition (*)
   B. Concatenation (+)
   C. Membership
   D. Length
   E. Iteration

In [31]:
#A. Repetition
tup1 = ('a','b','c','d')
print (tup1*2)
#B. Concatenation
tup1 = ('a','b','c','d')
tup2 =  ('e','f','g','h')
print(tup1 + tup2)
#C. Membership
tup1 =  ('a','b','c','d')
if 'GUVI' in tup1:
  print('GUVI is there in the list')
else:
  print('GUVI not found')
#D. Length
tup1 =  ('a','b','c','d')
print (len(tup1))
#E. Iteration
tup1 = ('a','b','c','d')
for val in tup1:
  print(val)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
GUVI not found
4
a
b
c
d

2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
otherwise use the below
           Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
       
        A. max(Tuple)   
        B. min(Tuple)     
        C. Tuple(seq)

In [32]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
print('Max of Tuple1 {}'.format( max(Tuple1)))
print('Min of Tuple1 {}'.format( min(Tuple1)))
seq = '123'
print(list(seq))

Max of Tuple1 8765
Min of Tuple1 1
['1', '2', '3']

# Python Set
Create your own Set to operate the below Python Set Operations ?
otherwise use the below set:
       Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
       Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
   
1. Set Operations
    A. Union
    B. Intersection
    C. Difference
    D. Symmetric difference

In [36]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print('Union of both sets', Set1.union(Set2))
print('Intersection of both sets',Set1.intersection(Set2))
print('Set1 - Set2 ',Set1.difference(Set2))
print('Non- common entries from both sets', Set1.symmetric_difference(Set2))

Union of both sets {1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}
Intersection of both sets {3, 4, 5, 6, 7}
Set1 - Set2  {1, 2, 8, 876, 77}
Non- common entries from both sets {1, 2, 8, 876, 77, 432, 54, 567}


# Python Dictionary
Create your own Dictionary to perform the below Python Built-in Dictionary functions
otherwise use the below Dictionary:
                           dict = {'Name': 'Student', 'Age': 27};
   A.  len(dict)    
   B.  str(dict)      
   C.  type(variable)

In [37]:
dict = {'Name': 'Student', 'Age': 27}
print(len(dict))
print(str(dict))
print(type(dict))

2
{'Name': 'Student', 'Age': 27}
<class 'dict'>

2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
otherwise use the below Dictionary:

                           dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
   A.  dic.clear()
   B.  dict.copy()  
   C.  dict.fromkeys()
   D.  dict.get(key[, value])    
   E.  dict.items()   
   F.  dict.keys()   
   G.  dict.setdefault()  
   H.  dict.update()  
   I.  dict.values()

In [55]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict1={'name':'Ravi', 'Age': 34, 'Job':'Electronics Engineer'}
dict.clear()
print(dict)
dict=(dict1).copy()
print(dict)
keys = ['Name', 'Age', 'Job']
values = ['Ravi', 34, 'Electronics Engineer']
dict.fromkeys(keys,values)
print(dict)
print(dict.items())
print(dict.keys())
dict.setdefault('Age',32)
print(dict)
dict.update({'Salary':75432, 'Age':32})
print(dict)
print(dict.values())
print(dict.get('Salary', 80000))
print(dict.get('Family', 'Good and caring family'))

{}
{'name': 'Ravi', 'Age': 34, 'Job': 'Electronics Engineer'}
{'name': 'Ravi', 'Age': 34, 'Job': 'Electronics Engineer'}
dict_items([('name', 'Ravi'), ('Age', 34), ('Job', 'Electronics Engineer')])
dict_keys(['name', 'Age', 'Job'])
{'name': 'Ravi', 'Age': 34, 'Job': 'Electronics Engineer'}
{'name': 'Ravi', 'Age': 32, 'Job': 'Electronics Engineer', 'Salary': 75432}
dict_values(['Ravi', 32, 'Electronics Engineer', 75432])
75432
Good and caring family

# Conditional Statements
   1. IF
   2. IF-ELSE
   3. If...Elif...Else

1. Write if statement 13 is greater than 25?
2.  Write a if else  statement to find if the number is divisible by 25?
3.Using the three variables 'a = 154; b = 2451; c = 6054',
Write a If...Elif...Else statement to find the greatest number

In [54]:
if(13>25):
  print('This wont happen')
else:
  print('13<25')

num = int(input('enter a number: '))
if num%25 ==0:
  print(num, 'is divisible by 25')
else:
  print(num, 'is not divisible by 25')

a = 5154
b = 8451
c = 605
if a>b:
  if a>c:
    print(a, 'is greatest')
  else:
    print(c, 'is greatest')
elif b>c:
  print(b, 'is greatest')
else:
  print(c, 'is greatest')

13<25
enter a number: 87
8451 is greatest